{% extends 'base.html' %}
{% block filter %}
{% endblock filter %}
{% block content %}
<h3>Category: {{ category }}</h3>
<div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </h4>
                <h5>${{ product.price }}</h5>
                  <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-danger">Add to cart</button></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
{% endblock content %}